
body{
    height: 100vh;
    background-size: cover;
    background-color: aliceblue;
}

p{position: relative;
    left: 47%;
    top: 50%;
    width:500px;
    line-height:30px;

    
    
}

h5{position: relative;
    left: 45%;
    top: 50%;
    width:500px;
    line-height:10px;
    color:black;
    

}
button{position: relative;
    left: 28%;
    top: 50%;
    width:500px;
    line-height:30px;
    color: white;
    background-color: blue;
    border-radius: 50px;
    border-color: white;
}


h3{
    text-align: center;
    position: relative;
    right: 23px;
}



h1{
    color: blue;
    text-align: center;
    font-size: 100 px;
    position:relative;
    right: 10px;
    
}

input{

    text-align:center;
    position: relative;
    left: 28%;
    top: 50%;
    width: 500px;
    line-height: 30px;


    
}

.account{
    background-color: green;
}

input:hover {
    border-color: white ;
    border-radius: 10px solid black;
}
