
 

body{
    text-align: center;
    background-color: black;

}



div {
    height: 230px;
    width:500px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    border-radius: 50px;
    color: black;
    text-align: center;
}

button {

    border-radius: 50px;

    
}

button:hover {
    background-color: grey;
}


div:hover{
            height: 115px;
            width: 250px;
}

h3{ color: white;
    
}