 h1{

      color: white;
      text-align: center;
 }


 body{
    background-color: black;
 }

 #text{
    text-align: center;
    height: 100%;
    width: 90%;
    background-color:black ;
 }


 p{
   color: grey;
 }