.red {
    color: red;
    height: 100px;
    width: 100px;
    text-align: center;
}


body{
    background-color: black;

}

.blue{
    color: blue;
}


.box{

   border : 1px solid black;
   background-color: pink;
   
}