/* div
{

width: 400px;
height: 200px; */

/* background-color: #7aa874; */
/* margin: 10px auto; */
/* box-shadow: 2px 2px 8px black; */



/* background-image: url("c:\Users\USER\Pictures\photo (2).jpg");  */
/* background-size:contain ; */
/* } */

body{

background-image: url("c:\Users\USER\Pictures\photo (2).jpg"); 
}